.container {
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.column-full {
  flex-basis: 100%;
}

.column-fourth {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 100%;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-end {
  justify-content: flex-end;
}

@media screen and (width >= 1024px) {
  .column-fourth {
    flex-basis: 25%;
  }

  .column-half {
    flex-basis: 50%;
  }
}
