:root {
  --clr-primary: #f33;
  --clr-secondary: #dd5a5a;
  --font-white: #fff;
  --ff-sans: 'Open Sans', sans-serif;
  --fw-bold: 700;
  --fw-regular: 400;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--font-white);
}

.hidden {
  display: none;
}

/* Header */

.header-bg {
  background-color: var(--clr-primary);
}

.nav-menu {
  padding: 1rem 0;
}

.nav-flex {
  display: flex;
}

/* Card */

.card {
  margin-top: 1rem;
  box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 2px;
}

.card-content {
  padding: 0 0.5rem 1rem;
  font-family: var(--ff-sans);
}

.card-title {
  font-weight: var(--fw-bold);
}

.card-img {
  height: 200px;
  object-fit: cover;
}

.card-btn {
  padding: 0.75rem 1rem;
  border-radius: 2px;
  font-family: var(--ff-sans);
  background-color: var(--clr-secondary);
  color: var(--font-white);
}

.card-rating {
  font-family: var(--ff-sans);
  color: var(--font-white);
}

.card-date {
  font-weight: var(--fw-regular);
  margin-bottom: 2rem;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--clr-secondary);
}

@media screen and (width <= 375px) {
  .card-btn {
    padding: 1rem 0.5rem;
    max-width: 50%;
  }

  .card-rating {
    margin-right: 1rem;
  }
}

@media screen and (width >= 768px) {
  .card-date {
    margin-top: 0;
  }
}
